/* Стили для вставки образцов кода. Удобно при переносе из Sublime Text */
.Monokai-Code {
    padding: 0.5em;
    font-family:Consolas;
    color:#f8f8f2;
    background-color:#272822;
    overflow:auto;
    text-indent: 0;
    margin:0.4em 0;
    white-space: nowrap;
}
.Monokai-Comment {
    color:#ada78d; /* Комментарии QSP, CSS, HTML */
}
.Monokai-Qbracket, .Monokai-Assign, .Monokai-Operator {
    color:#66d9ef; /* Операторы и операции QSP */
}
.Monokai-Koperator {
   color:#66d9ef; /* Конструкторный-оператор QSP */
   font-style:italic;
}
.Monokai-String {
    color:#e6db74; /* Строки QSP, значение атрибута HTML */
}
.Monokai-Numeric, .Monokai-StartLoc {
    color:#ae81ff; /* Числа QSP, начало локации QSP, Значение свойства CSS */
}
.Monokai-EndLoc {
   color:#fd971f; /* Конец локации QSP */
   font-style:italic;
}
.Monokai-SysVar {
   color:#ff3333; /* Системная переменная QSP */
}
.Monokai-UnFunc {
    color:#a6e22c; /* Неявная функция QSP */
    font-style:italic;
}
.Monokai-Func {
    color:#fd9621; /* Функция QSP */
}
.Monokai-Invalid {
    color:#f8f8f1;
    background-color:#f92472;
}
.Monokai-Construct {
    color:#67d8ef;  /* Название свойства CSS */
    font-style:italic;
}
.Monokai-Command {
    color:#bbffaa; /* Условность QSP, двоеточие и точка с запятой CSS */
}
.Monokai-Markup {
    color:#a6e22e; /* метки QSP, селекторы CSS */
}
.Monokai-TagName {
    color:#f92672; /* Имя тега HTML */
}
