/* Стили для вставки образцов кода. Удобно при переносе из Sublime Text */
.Monokai-Code {
    padding: 0.5em;
    font-family:Consolas;
    color:#f8f8f2;
    background-color:#272822;
    overflow:auto;
    text-indent: 0;
    margin:0.4em 0;
}
.Monokai-Comment {
    color:#75715e;
}
.Monokai-Qbracket, .Monokai-Assign, .Monokai-Operator {
    color:#66d9ef;
}
.Monokai-Koperator {
   color:#66d9ef;
   font-style:italic;
}
.Monokai-String {
    color:#e6db74;
}
.Monokai-Numeric, .Monokai-StartLoc {
    color:#ae81ff;
}
.Monokai-EndLoc {
   color:#fd971f;
   font-style:italic;
}
.Monokai-SysVar {
   color:#ff3333;
}
.Monokai-UnFunc {
    color:#a6e22c;
    font-style:italic;
}
.Monokai-Func {
    color:#fd9621;
}
.Monokai-Invalid {
    color:#f8f8f1;
    background-color:#f92472;
}
.Monokai-Construct {
    color:#67d8ef;
    font-style:italic;
}
.Monokai-Command {
    color:#bbffaa;
}
