@charset "UTF-8";
html, body, p, h1, h2, h3, h4, h5, h6, form {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.avs-article-h1__link,
.avs-article-h1__link:hover {
  text-decoration: none;
}

.avs-articles-underhead {
  font-size: 0.8em;
  text-align: center;
}

.avs-article-p {
  text-align: justify;
  text-indent: 1em;
}

.avs-article-p-null-indent {
  text-align: justify;
}

.avs-article-p-termin {
  margin-left: 1.75em;
  text-indent: -1.5em;
}

.avs-article-epigraph {
  padding-left: 25%;
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.avs-pages-button {
  border-radius: 0.25em;
  padding: 0.5em;
}

.avs-pages-button__columner {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
}

.avs-pages-button__wrapper {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avs-pages-button__left-combine {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-start;
  column-gap: 0.5vw;
}

.avs-pages-button__right-combine {
  margin: 0.5em 0;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5vw;
}

.avs-pages-button__link {
  text-decoration: none;
}
.avs-pages-button__link:link, .avs-pages-button__link:visited, .avs-pages-button__link:hover, .avs-pages-button__link:active {
  text-decoration: none;
}

.avs-articles-image {
  max-width: 100%;
  max-height: 50vh;
  border: 1px solid rgba(14, 80, 72, 0.3);
}

.avs-articles-image__wrapper {
  padding: 0.6em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.6em;
}

.avs-articles-image__left-floater {
  float: left;
  padding: 0 0.5em 0 0.5em;
  display: flex;
  column-gap: 1em;
}

.avs-articles-image__right-floater {
  float: right;
  padding: 0 0 0.5em 0.5em;
  display: flex;
  column-gap: 1em;
}

.avs-articles-image__subscribe {
  color: #818181;
  font-style: italic;
  text-align: center;
}

.avs-articles-screenshot {
  padding: 0.5em;
  max-width: 100%;
  display: flex;
}

.avs-articles-screenshot__image {
  max-width: 100%;
}

.avs-articles-note {
  padding-left: 1.5em;
  font-size: smaller;
  font-weight: bolder;
  text-align: justify;
  text-indent: -1.5em;
}

.avs-articles-note__backlink {
  vertical-align: super;
}

.avs-articles-features-list {
  margin: 0.5em 0;
  padding: 0;
  padding-left: 1em;
}
.avs-articles-features-list .avs-articles-features-list {
  margin: 0.1em 0;
  padding-left: 2em;
}

.avs-articles-features__item {
  text-align: justify;
}

.avs-articles-instruction {
  margin: 0.5em 0;
  padding: 0;
  padding-left: 1em;
}
.avs-articles-instruction .avs-articles-instruction {
  margin: 0.1em 0;
  padding-left: 2em;
}

.avs-articles-instruction__item {
  text-align: justify;
  margin: 0.5em 0;
}

.avs-articles-structure {
  margin: 0.5em 0;
  padding: 0;
  padding-left: 1em;
}
.avs-articles-structure .avs-articles-structure {
  margin: 0.1em 0;
  padding-left: 2em;
}

.avs-articles-structure__item {
  text-align: justify;
  margin: 0.5em 0;
}
.avs-articles-structure__item .avs-articles-structure__item {
  margin: 0.1em 0;
}

.avs-articles-columned {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
}

.avs-articles-columned__column {
  flex: 1 2 0;
}



.ifwiki-table {
  border-collapse: collapse;
}
.ifwiki-table td {
  padding: 0.25em;
}

.avs-spaced {
  padding: 0.25em 0;
}

.em-obj-class,
.em-obj-type,
.em-obj-id,
.em-obj-sid,
.em-string,
.em-number,
.em-gosub,
.em-command,
.em-func,
.em-operator,
.em-folder,
.em-lib,
.em-var-name,
.em-system,
.em-comment,
.em-marker,
.em-next {
  font-weight: bold;
  font-family: monospace;
}



/* прилипчивый блок внизу */
.em-stick-upper {
  margin-top: 0.5vh;
  bottom: 0;
  text-align: right;
  position: sticky;
}

.em-stick-upper__image {
  max-height: 5vw;
  border: 0.2vw solid #20B2AA;
  border-radius: 0.25vw;
  transition: box-shadow 0.5s ease 0.2s;
}
.em-stick-upper__image:hover {
  box-shadow: 0 0 0.5em 0.15em rgba(44, 129, 103, 0.75);
}

body {
  padding: 0 25% 1em 25%;
  margin: 0;
}
@media all and (max-width: 750px) {
  body {
    padding: 1em;
  }
}

/*# sourceMappingURL=easy.library.css.map */
